# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production (Vite)
/dist

# Misc
.DS_Store
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo

/todo-list*